:root {
  --primary-color: #22254b;
  --secondary-color: #003566;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.product img {
  width: 100%;
}

.product-info {
  color: #eee;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.product-info h6 {
  margin-top: 0;
}

span {
  font-size: 0.8rem;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

button {
  border-radius: 5px;
  width: 15%;
  border: none;
  text-align: center;
  outline: none;
  margin: 5px;
  padding: 10px;
}

input {
  margin: 5px;
  max-width: 50px;
  text-align: center;
  border-radius: 10px;
  color: #eee;
  border: none;
}

/* .price {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.product:hover .price {
  transform: translateY(0);
} */
